@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html, body {
  height: 100%;
}

body {
  min-width: 310px;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.1s;
}

input:focus::placeholder {
  opacity: 0;
}

@keyframes autofill {
  to {
    color: rgba(255, 255, 255, 1);
    background: transparent;
  }
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

#login-container {
  height: 100vh;
  width: 100vw;
  background-image: url('/img/login-bg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#login-container div {
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 40px 25px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

#login-container div h1 {
  color: rgba(255, 255, 255, 1);
}

#login-container div form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

#login-container div form * {
  font-size: 1.2rem;
  padding: 8px;
}

#login-container div form *:focus {
  outline: none;
}

#login-container div form input[type='password'] {
  margin-bottom: 20px;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  transition: all 0.2s;
}

#login-container div form input[type='password']:focus {
  transform: scale(1.1);
}

#login-container div form input[type='submit'] {
  font-family: 'Quicksand', sans-serif;
  width: 120px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
}

#login-container div form input[type='submit']:hover,
#login-container div form input[type='submit']:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 400px) {
  #login-container div {
    padding: 60px 50px;
  }
}
